@import "./starter.css";

:root {
  --primary-color: black;
  --secondary-color: rgba(27, 27, 27, 1);
  --nav-color: rgba(0, 0, 0, 0.6);
  --hiring-process-color: rgba(27, 27, 27, 1);

  --font-color: white;

  --font-heading: "Montserrat";
  --font-primary: "arial";
  --font-secondary: "poppins";
  --font-nav: "poppins";
}

body {
  background: var(--primary-color);
  margin: 0;
  overflow-x: hidden;
}

.page-container {
  position: relative;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.6);
  height: 130px;
  /* position: fixed; */
  width: 1410px;
}

.logo {
  align-self: flex-start;
  flex-direction: column;
}


/* End of Navbar */

.Banner-section {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -60px;
  height: 600px;
  align-items: center;
}

.banner-text1 {
  position: relative;
  color: var(--font-color);
  bottom: 420px;
  left: 60px;
  font-family: var(--font-primary);
}

.banner-text2 {
  position: relative;
  color: var(--font-color);
  bottom: 350px;
  left: 60px;
  font-size: xx-large;
  font-family: var(--font-primary);
}

.Open-roles-btn {
  padding: 15px;
  cursor: pointer;
  position: absolute;
  top: 160px;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  border: 2px white solid;
}

/* End of baner Section */

.overview-section {
  margin: 7rem;
  color: var(--font-color);
}

.overview-header > h2 {
  margin-top: 5rem;
  margin-bottom: 5rem;
  color: white;
  text-align: center;
  font-family: var(--font-heading);
  font-size: 28px;
}

.overview-context > main {
  display: flex;
  align-items: center;
  position: relative;
}

.overview-context > main > article {
  background: white;
  color: black;
  height: 280px; 
  font-family: var(--font-heading);
  line-height: 30px;
  padding: 30px;

  flex: 1; 
}

.overview-context > main > figure {
  margin: 0;
}

.overview-context > main > figure > img {
  height: calc(100% + 10px); 
  
}


/* End of Overview */
.Hiring-section {
  margin-bottom: 5rem;
}

.hiring-title {
  margin-top: 5rem;
  margin-bottom: 5rem;
  color: white;
  text-align: center;
  font-family: var(--font-heading);
  font-size: 20px;
}

.process {
  margin-left: 100px;
  /* outline: 2px solid red; */
}

.process > main {
  color: white;
  display: flex;
  list-style-type: none;
  gap: 115px;
  text-align: center;
  font-family: var(--font-heading);
}

.process > main > figcaption {
  height: 73px;
  width: 234px;
  background-color: var(--secondary-color);
  border: 1px solid white;
  text-align: center;
  
}
.Hiring-section > hr {
  width: 80%;
  border: 1px solid white;
  margin: 0 auto;
  position: relative;
  top: 38px;
  z-index: -1;
  background: rgba(255, 255, 255, 1);
}
/* End of Hiring */

.jobs-section {
  align-items: center;
  color: white;
  background-color: var(--secondary-color);
}

.jobs-section-title {
  padding: 10px;
  text-align: center;
  font-family: var(--font-heading);
}

.searchbox-div {
 
  /* display: flex; */
  align-items: flex-start;
  margin-left: 130px;
  margin-top: 5rem;
  margin-bottom: 5rem;
  
}

.search-box {
  background-color: black;
  height: 60px;
  width: 417px;
  border: none;
  border-style: none;
  color: white;
}

.job-cards > main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  align-items: center;
  row-gap: 2rem;
}

.job-cards > main > section {
  background-color: white;
  color: black;
  width: 260px;
  height: 328px;
  padding-left: 20px;
  font-family: var(--font-heading);
  padding-bottom: 5px;
}

.job-cards > main > section > a {
  text-decoration: none;
}


.jobs-btn {
  padding: 20px;
  position: relative;
  margin: 2rem;
  left: 650px;
  bottom: -10px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 5px;
}

/* End of Hiring Process */

.resume-text {
  position: relative;
  color: white;
  text-align: center;
  bottom: 350px;
  font-family: var(--font-heading);
}
.resume-section {
  margin-top: 3rem;
}

.apply-btn {
  position: relative;
  bottom: 300px;
  left: 660px;
  width: 195px;
  height: 69px;
  font-family: var(--font-heading);
}
/* Resume-section finished */

.description {
  color: white;
  margin-top: 10rem;
  margin-left: 5rem;
  font-family: var(--font-heading);
  line-height: 18px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 1210px;
}

.apply-btn1 {
  height: 69px;
  width: 298px;
  align-self: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.overview-context {
      display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: column;
}

